.btn {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    margin: 0 20px 20px 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    color: rgb(207, 205, 205);
}
.container {
    margin-top: 50px;
}
.icon {
    width: 100px;
    height: 50px;
}
.road {
    border-bottom: 1px solid black;
}
.btn-action {
    margin: 10px;
}
.container {
    max-height: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 800px;
    margin-left: -400px;
    font-size: 50px;

}
.popup.hide{
  display: none;
}
@-webkit-keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
 }
 @keyframes pulsate {
  50% { color: #fff; text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; }
 }
 .popup {
  color: rebeccapurple;
   text-shadow: 0 -1px rgba(0,0,0,.1);
   /* background: green; */
   -webkit-animation: pulsate 1.2s linear infinite;
   animation: pulsate 1.2s linear infinite;
 }
 .container.hide{
  display: none;
 }
 button:disabled{
  color: cadetblue;
 }
 button:disabled:hover{
  color: cadetblue;
 }
